.iframe {
  max-width: 90% !important;
  background: rgb(160, 186, 138) none repeat scroll 0% 0%;
  border: 5px dashed black;
  padding: 20px;
}

.block_form input {
  display: block;
  width: 98.8%;
  text-align-last: center;
  padding: 8px 0px;
  padding-left: 0px;
  border: #888 1px solid;
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

.order_form .clear {
  clear: both;
}

.ifr_button {
  cursor: pointer;
  letter-spacing: 0.4px;
  font-weight: 600 !important;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  font-family: calibri, roboto, arial;
  margin: 20px auto;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: auto;
  line-height: 32px;
  height: auto;
  background: #e74c3c;
  border-bottom: 2px solid #c0392b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 51px;
  padding: 0 14px;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
